@use './variables';

@font-face {
  font-family: Helvetica;
  src: url('../assets/fonts/Helvetica.ttf');
  font-weight:normal;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  src: url('../assets/fonts/Helvetica-Bold.ttf');
  font-weight:bold;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  src: url('../assets/fonts/helvetica-light-587ebe5a59211.ttf');
  font-weight:500;
  font-style: normal;
}

body {
  font-family: 'Helvetica', 'Bebas Neue';
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  .App {
    display: flex;
    background: variables.$bodyBgColor;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
}